# -----------------------
# Java / Maven
# -----------------------
# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# Maven target directory
/worker-java/target/

# Eclipse / IntelliJ
*.iml
.idea/
*.ipr
*.iws
*.classpath
*.project
*.settings/

# -----------------------
# Go
# -----------------------
# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go modules
/go.sum
/go.mod

# Go build output
/bin/
/pkg/

# -----------------------
# Docker
# -----------------------
# Ignore any Docker local temp files
*.env

# -----------------------
# Misc
# -----------------------
# VSCode
.vscode/
